@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-justify">
        <div class="form-group">
            <div class="col-sm-6">
                @{

                    try
                    {
                        if (@TempData["ValorInvalido"] != null)
                        {
                            <div class="alert alert-danger">
                                <strong>Atenção:</strong>@TempData["ValorInvalido"]
                            </div>
                        }
                    }
                    catch { }
                }
            </div>

                <div class="col-sm-6">
                    <input id="idValor" type="number" class="form-control" min="2" placeholder="Informe um número:" />
                    <br />
                    @Html.ActionLink("Calcular", "Calcular", "Home", new { valor = "XXX" }, new { @id = "btnCalcular", @class = "btn btn-primary" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6">
                    <h3>Divisores:</h3>
                    <input type="text" class="form-control" id="idDivisores" value="@ViewBag.Divisor">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <h3>Divisores Primos:</h3>
                    <input type="text" class="form-control" id="idPrimos" value="@ViewBag.DivisorPrimo">
                </div>
            </div>

        </div>


<script>

    setTimeout(function () {
        $("#btnCalcular").click(function () {
            var novoValor = $("#idValor").val();
            this.href = this.href.replace("XXX", novoValor);
        });
    }, 10);


</script>
